
<html>
    <head>
        <title>Stephen's blog</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>
<html>
    <head>
        <title>Stephen's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Stephen's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>  examples of posts</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>example of secod post</p>
        </div>
    </body>
</html>
